<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-log.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="AsyncServerSite" xsi:type="AsyncWrapper">
      <target xsi:type="File"
					name="ServerSite"
					fileName="${basedir}/Logs/nlog-${shortdate}.log"
					layout="[${uppercase:${level}}] [${longdate}] [${logger}] [${gdc:item=VersionApp}] [${gdc:item=AppName}] [${gdc:item=ProcessID}] ${message} ${exception:format=tostring}"
					archiveNumbering="Rolling"
					archiveAboveSize="524288"
			  />
    </target>

  </targets>

  <rules>
    <logger name="WebSite" minlevel="Trace" writeTo="AsyncServerSite" />    
    <logger name="*" minlevel="Debug" writeTo="AsyncServerSite" />

  </rules>
</nlog>